{
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "env": {
   "jest": true
  },
  "extends": ["plugin:flowtype/recommended", "cheshireswift"],
  "rules": {
    "flowtype/define-flow-type": "error"
  }
}
